<div class="shadow-block">
    <div class="shadow-block__content shadow-block__content_min-tb-padding shadow-block__content_no-lr-padding">
        <div class="shadow-block__content__blue-title">
            <div class="shadow-block__content__blue-title__name">
                <span class="big-size" translate="MAIN_MENU.CREATE_CONTRACT"></span>
            </div>
        </div>
    </div>

    <div class="shadow-block__content shadow-block__content_min-tb-padding">
        <div class="grid-row">
            <div class="grid-cell">
                <div class="checkbox-decoration">
                    <div class="form-control-label-checkbox">
                        <span>
                            <b translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.TEST_NETWORK_LABEL"></b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <label class="checkbox-decoration">
                    <input type="checkbox" ng-model="blockChainNetwork.isTest"
                           ng-change="$state.go('main.createcontract.types', {isTestNet: blockChainNetwork.isTest || undefined})"
                           ng-checked="blockChainNetwork.isTest">
                    <span class="checkbox-decoration-displaying for-buttons-height">
                        <span class="checkbox-decoration-val checkbox-decoration-val_on"
                              translate="YES"></span>
                        <span class="checkbox-decoration-val checkbox-decoration-val_off"
                              translate="NO"></span>
                    </span>
                </label>
            </div>
            <div class="grid-cell grid-cell-1">
                <span class="normal-text" translate="PAGES.CREATE_CONTRACT.BLOCKCHAIN_BLOCK.TEST_NETWORK_DESCRIPTION"></span>
            </div>
        </div>
    </div>
</div><br/><br/>

<div ng-repeat="(key, blockChainData) in contractsTypes">
    <div ng-repeat="contractForCreate in blockChainData.list"
         ng-click="
         contractForCreate.directLink ? redirectTo(contractForCreate.directLink + (blockChainNetwork.isTest ? '?network=testnet' : ''), $event) : false"
         ui-sref="main.createcontract.form({selectedType: contractForCreate.type, network: blockChainData.networks[!blockChainNetwork.isTest ? 0 : 1]})"
         class="shadow-block shadow-block_hovered" ng-class="contractForCreate.class">
        <div class="shadow-block__content">
            <div class="contract-price-block" ng-if="!blockChainNetwork.isTest && contractForCreate.price">
                <div class="contract-price-block_content">
                    <i class="price-icon icon-usdc"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i><span>
                        {{(contractForCreate.fixPrice || allCosts[contractForCreate.typeNumber]['USDC'])|separateNumber}}
                    </span>
                </div>
            </div>
            <div class="grid-row">
                <div class="grid-cell grid-cell-1">
                    <div class="shadow-block__content__title">
                        <i class="shadow-block__content__title__icon" ng-class="contractForCreate.icon"></i>
                        <span class="shadow-block__content__title__text">
                            {{contractForCreate.title | translate}}
                        </span>
                    </div>
                    <div class="shadow-block__content__text shadow-block__content__text_description">
                        <span translate="{{contractForCreate.description}}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
